body {
  background-color: #F8F8F8;
  padding: 5px;
}

.nv-search {
  margin: 5px;
}

.nv-notes {
  margin: 5px;
  height: 300px;
  overflow: scroll;
}

.debug-div {
  border: solid gray 2px;
  border-radius: 10px;
  background: lightgray;
  margin: 10px;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 200px;
}
